
{% set linux_dev_pkgs = salt['grains.filter_by']({
    'Debian': {
        'pkgs': [
            'build-essential',
            'libsqlite3-dev',
            'sqlite3',
            'bzip2',
            'libbz2-dev',
        ],
    },
    'RedHat': {
        'pkgs': [
            'Development tools',
            'rpmdevtools',
            'fedora-packager',
            'make',
            "libxml2-devel", 
            "libxslt-devel",
            "libevent-devel", 
            "zlib-devel",
            "bzip2-devel",
            "openssl-devel", 
            "ncurses-devel",
            "sqlite-devel",
            readline-devel"
            "tk-devel", 
            "gdbm-devel", 
            "db4-devel", 
            "libpcap-devel", 
            "xz-devel",
            "libpng-devel", 
            "libjpeg-turbo-devel",
            "mlocate",
            "openldap-devel",
        ],
    },
}, merge=salt['pillar.get']('linux_dev_pkgs:lookup')) %}

